<app-header></app-header>

<div class="filters-container">
    <div class="filters">
        <p class="filter-p">Free next day delivery</p>
        <p class="red-bg filter-p" style="padding:15px 70px 15px 70px;">Sale now up to 20% off</p>
        <p class="filter-p">Free returns to store</p>
    </div>
</div>
<div *ngIf='cartProducts.length > 0' class="product-container">
    <div class="product-title-bar">
        <div class="product-name">SHOPPING CART</div>
        <div class="product-category">Here's what you got!</div>
    </div>
    <div class="product-image-description-container">

        <div class="cart-header">
            <div class="cart-header-left">Product</div>
            <div class="cart-header-right"><span>Qty</span> <span>Price</span><span>Total</span></div>
        </div>
        <div class="img-description" *ngFor='let product of cartProducts'>
            <div class="product-image"><img src="{{product.img}}"></div>
            <div class="desc-text">Product name: {{product.name}}</div>
            <div class="product-info"><span><button class="qty-buttons">{{product.quantity}}</button></span> <span>${{product.price}}</span> &nbsp;&nbsp;&nbsp;<span>${{product.price*product.quantity}}</span></div>
        </div>
    </div>
    <div class="summary-main-container">
        <div class="summary-title">ORDER SUMMARY</div>
        <div class="summary">
            <div class="items-container">
                <div class="items"><h1>ITEMS</h1></div>
                <div class="cost"><h1>${{totalPrice}}</h1></div>
            </div>
            <div class="items-container shipping">
                <div class="items"><h1>SHIPPING</h1></div>
                <div class="cost"><h1>$0.00</h1></div>
            </div>
            <div class="items-container">
                <div class="items"><h1>TOTAL</h1></div>
                <div class="cost"><h1>${{totalPrice}}</h1></div>
            </div>
            <button class="buy-buttons">CHECKOUT</button>
        </div>
        <div class="back-button"><a routerLink="/">BACK</a></div>
    </div>
    
 
</div>

<div *ngIf='cartProducts.length == 0' class="product-container product-empty">
    <div class="product-title-bar">
        <div class="product-name">SHOPPING CART</div>
        <div class="product-category">You haven't added any products to your cart yet! Click here to view the catalog.</div>
    </div>
  
</div>



<app-footer></app-footer>