<app-header></app-header>

<div class="filters-container">
    <div class="filters">
        <p class="filter-p">Free next day delivery</p>
        <p class="red-bg filter-p" style="padding:15px 70px 15px 70px;">Sale now up to 20% off</p>
        <p class="filter-p">Free returns to store</p>
    </div>
</div>
<div *ngIf='cartProducts' class="product-container">
    <div class="product-title-bar">
        <div class="product-name">SHOPPING CART</div>
        <div class="product-category">Here's what you got!</div>
    </div>
    <div class="product-image-description-container">

        <div class="cart-header">
            <div class="cart-header-left">Product details</div>
            <div class="cart-header-right"><span>Qty</span> <span>Price</span><span>Total</span></div>
        </div>
        <div class="img-description" *ngFor='let product of cartProducts'>
            <div class="product-image"><img src="{{product.img}}"></div>
            <div class="desc-text">Product name: {{product.name}}</div>
            <div class="product-info"><span><button class="qty-buttons">{{product.quantity}}</button></span> <span>${{product.price/product.quantity}}</span> &nbsp;&nbsp;&nbsp;<span>${{product.price}}</span></div>
        </div>

    </div>
    <div class="order-summary">
        <div class="summary-title">ORDER SUMMARY</div>
        <div class="summary-content">
            <div class="summary-content-top-right"><span>QTY</span> <span>TOTAL</span></div>
            <div class="summary-content-middle"><span>ITEMS</span> <span>{{totalQty}}</span> <span>${{totalPrice}}</span></div>
            <div class="summary-content-bottom"><span>SHIPPING</span> <span>$0.00</span></div>
            <div class="summary-content-total"><span>TOTAL</span> <span>${{totalPrice}}</span></div>
            <button class="buy-buttons">CHECKOUT</button>
        </div>
        <div class="back-button"><a routerLink="/">BACK</a></div>
    </div>
</div>

<div *ngIf='!cartProducts' class="product-container product-empty">
    <div class="product-title-bar">
        <div class="product-name">SHOPPING CART</div>
        <div class="product-category">You haven't added any products to your cart yet! Click here to view the catalog.</div>
    </div>
  
</div>



<div class="footer">
    <div class="footer-left">
        <p class="contactus"> <i class="fa fa-truck" aria-hidden="true"></i> Free shipping worldwide</p>

    </div>
    <div class="footer-middle">

    </div>
    <div class="footer-right">
        <p> <i class="fa fa-copyright" aria-hidden="true"></i> Webstore@Inzpire.ba All rights reserved.</p>
    </div>
</div>