<div class="top-header">
    <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQH_tOsDbM0bPg/company-logo_200_200/0/1581929641926?e=1628121600&v=beta&t=85GhuJfEIgfK988TgKPk0rXWX5sPz0x_jDjc1tOIRzQ">
    <div class="top-header-desc">INZPIRE WEB SHOP</div>
</div>
<div class="container">
    <div class="admin-image"><img src="https://i.imgur.com/XyywY9v.png"></div>
    <div class="admin-desc">Jon Snow</div>
    <div class="admin-id">UserID: 12345678</div>
    <div class="buttons">
        <a routerLink="/users"><button class="admin-buttons">User Accounts</button></a>
        <button class="admin-buttons">Products</button>
        <button class="admin-buttons">E-Commerce</button>
        <button class="admin-buttons">Website Inbox</button>
        <button class="admin-buttons">Setup</button>
        <button class="admin-buttons">Storage</button>
    </div>
</div>

<div class="welcome-back">
    <div class="welcome-back-text">
        <p>Welcome back, Admin Jon Snow!</p><img src="https://image.flaticon.com/icons/png/512/1465/1465611.png">
    </div>
</div>