<app-header></app-header>
<div class="product-container">
    <div class="product-title-bar">
        <div class="product-name">{{single.name}}</div>
        <div class="product-category">Category: {{single.category}}</div>
        <div class="product-review">
            <img *ngIf="averageRating==5" src="https://gyazo.com/b50e0062a8c92776c48b1f28e97a8dc7.png" alt="">
            <img *ngIf="averageRating==4" src="https://gyazo.com/46cd360876dca96540002b9601cdf552.png" alt="">
            <img *ngIf="averageRating==3" src="https://gyazo.com/4b3e972b8bf9cc86bbf5a4ffc3350d13.png" alt="">
            <img *ngIf="averageRating==2" src="https://gyazo.com/8be2d23dbce0e3f0c5b42384476afc9c.png" alt="">
            <img *ngIf="averageRating==1" src="https://gyazo.com/d012c2c270358ad929f980274d6aed0e.png" alt="">
            <span *ngIf="!reviewClicked" (click)="populateReviews()" id="write_review">Write a review</span> </div>
    </div>
    <div class="product-image-description-container">
        <div class="product-image"><img src="{{single.imgUrl}}"></div>

        <div class="product-description">{{single.description}}<br>
            <div class="size-buttons">
                <button class="sizes">XS</button>
                <button class="sizes">S</button>
                <button class="sizes">M</button>
                <button class="sizes">L</button>
                <button class="sizes">XL</button>
            </div>
            <div class="price"><span style="color:#3D3C3C;">Price:</span>&nbsp; ${{single.price}}</div>
            <div class="discount"><span style="
                background: #FF5367;padding:9px;">20% off for new users!</span></div>

            <div class="buy-qty-buttons">
                <button class="qty-buttons">QUANTITY: <span class="quantity-number">{{productQuantity}}</span></button>
                <button (click)='pushToCart(single)' class="buy-buttons">ADD TO CART</button>
                <!--not functional until the 3rd sprint (?)-->
            </div>
            <div *ngIf="!reviewClicked" class="back-button"><a routerLink="/">BACK</a></div>
        </div>
    </div>

    <div *ngIf="reviewClicked" class="review-section">
        <h1 class="review-heading"> {{ reviewNumber }} reviews for White Skirt - Star Pattern </h1>
        <div *ngFor="let review of reviews" class="review_comments">
                <div class="review_comments_img">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                </div>
                <div class="review_comments_main">
                    <div class="review_comments_main_top">
                            <div>
                                <h1 style="margin: 5px;">{{review.user}}</h1>
                            </div>
                            <div>
                                <img *ngIf="review.rating==5" src="https://gyazo.com/b50e0062a8c92776c48b1f28e97a8dc7.png" alt="">
                                <img *ngIf="review.rating==4" src="https://gyazo.com/46cd360876dca96540002b9601cdf552.png" alt="">
                                <img *ngIf="review.rating==3" src="https://gyazo.com/4b3e972b8bf9cc86bbf5a4ffc3350d13.png" alt="">
                                <img *ngIf="review.rating==2" src="https://gyazo.com/8be2d23dbce0e3f0c5b42384476afc9c.png" alt="">
                                <img *ngIf="review.rating==1" src="https://gyazo.com/d012c2c270358ad929f980274d6aed0e.png" alt="">
                            </div>
                            
                    </div>
                    <div class="review_comments_main_bottom">
                            <p> {{ review.comment }} </p>
                    </div>
                </div>
        </div>
        <h1 *ngIf='!userDetails'>Log in to add your own review.</h1>
        <div *ngIf='userDetails' class="comment-container">
        <h1>Add your own review for this item</h1>
        <h1>Logged in as {{userDetails.firstname}} <span style="color: red; cursor: pointer;">(Not you? Click here to log out)</span> </h1>
        <textarea [(ngModel)]="reviewText"
        placeholder="Your review..." name="reviewText" id="review_input" cols="30" rows="10"></textarea>
       <div class="star-rating">
           <div class="star-heading">
              <h1>Your rating ... </h1>
           </div>
           <div class="stars"> 
                <span (click)="addRating(1)" class="fa fa-star rated"></span>
                <span (click)="addRating(2)" class="fa fa-star rated"></span>
                <span (click)="addRating(3)" class="fa fa-star rated"></span>
                <span (click)="addRating(4)" class="fa fa-star rated"></span>
                <span (click)="addRating(5)" class="fa fa-star rated"></span>
           </div>
       </div>
       <div (click)="pushReview()" class="submit_review"><a>Submit</a></div>
    </div>
       
       <div *ngIf="reviewClicked" class="back-button"><a routerLink="/">BACK</a></div>
    </div>

</div>

<div class="footer">
    <div class="footer-left">
        <p class="contactus"> <i class="fa fa-truck" aria-hidden="true"></i> Free shipping worldwide</p>

    </div>
    <div class="footer-middle">

    </div>
    <div class="footer-right">
        <p> <i class="fa fa-copyright" aria-hidden="true"></i> Webstore@Inzpire.ba All rights reserved.</p>
    </div>
</div>