<div class="navbar-container">
    <div class="navbar-left">
        <p class="navbar-p"> <i class="fa fa-envelope" aria-hidden="true"></i> info@webstore.ba</p>
        <p id="phone" class="navbar-p"> <i class="fa fa-phone" aria-hidden="true"></i> +387 61 123 123</p>
    </div>
    <div class="navbar-right">
        <p class="navbar-p"><a routerLink="/contact"><i class="fa fa-cogs" aria-hidden="true"></i> Contact page</a> </p>
    </div>
</div>
<div class="hero-container">
    <div class="hero-inside">
        <div class="hero-heading-container">
            <h1 class="hero-heading">Inzpire webshop</h1>
            <h1 class="hero-user">Welcome back, username! </h1>
        </div>
        <div class="hero-buttons-container">
            <a href="" class="hero-buttons">Register</a>
            <a href="" class="hero-buttons">Login</a>
        </div>
        <div class="hero-description-container">
            <p class="hero-description"><i class="fa fa-cogs" aria-hidden="true"></i> Get up to 20% off on your first purchase</p>
        </div>
    </div>
</div>

<div class="filters-container">
    <div class="filters">
        <p class="filter-p">Men</p>
        <p class="filter-p">Women</p>
        <p class="filter-p">Tops</p>
        <p class="filter-p">Bottoms</p>
        <p class="filter-p">Accessories</p>
        <p class="filter-p">New</p>
        <p class="filter-p">Sale</p>
    </div>
</div>



<div class="product-container">
    <div class="product-title-bar">
        <div class="product-name">White Skirt - Star Pattern</div>
        <div class="product-category">Category: Women, Bottoms</div>
        <div class="product-review">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span *ngIf="!reviewClicked" (click)="reviewClicked = !reviewClicked" id="write_review">Write a review</span> </div>
    </div>
    <div class="product-image-description-container">
        <div class="product-image"><img src="https://i.imgur.com/iSnhcgA.png"></div>

        <div class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu commodo felis. Vestibulum et ex elit. Vivamus blandit quam id lectus feugiat tincidunt. Phasellus dolor nunc, consectetur accumsan iaculis sit amet, ullamcorper in lacus.
            Vivamus eget lectus malesuada, luctus lorem a, rhoncus enim. Ut nec fermentum neque, iaculis lacinia mi. In maximus rhoncus mi nec hendrerit. Nullam nec leo condimentum, laoreet risus finibus, dignissim est. Aenean vitae vulputate augue, ut
            volutpat nibh. Maecenas quis iaculis sapien<br>
            <div class="size-buttons">
                <button class="sizes">XS</button>
                <button class="sizes">S</button>
                <button class="sizes">M</button>
                <button class="sizes">L</button>
                <button class="sizes">XL</button>
            </div>
            <div class="price"><span style="color:#3D3C3C;">Price:</span>&nbsp; $49.99</div>
            <div class="discount"><span style="
                background: #FF5367;padding:9px;">20% off for new users!</span></div>

            <div class="buy-qty-buttons">
                <button class="qty-buttons">QUANTITY</button>
                <button class="buy-buttons">ADD TO CART</button>
                <!--not functional until the 3rd sprint (?)-->
            </div>
            <div *ngIf="!reviewClicked" class="back-button"><a routerLink="/">BACK</a></div>
        </div>
    </div>
 
    <div *ngIf="reviewClicked" class="review-section">
        <h1 class="review-heading"> {{ reviewNumber }} reviews for White Skirt - Star Pattern </h1>
        <div *ngFor="let review of reviews" class="review_comments">
                <div class="review_comments_img">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                </div>
                <div class="review_comments_main">
                    <div class="review_comments_main_top">
                            <div>
                                <h1 style="margin: 5px;">Username, Date</h1>
                            </div>
                            <div>
                                 <span *ngFor="let star of stars" class="fa newReviewStars fa-star"></span>
                            </div>
                            
                    </div>
                    <div class="review_comments_main_bottom">
                            <p> {{ review.review }} </p>
                    </div>
                </div>
        </div>
        <h1>Add your own review for this item</h1>
        <h1>Logged in as user123 <span style="color: red; cursor: pointer;">(Not you? Click here to log out)</span> </h1>
        <textarea [(ngModel)]="reviewText"
        placeholder="Your review..." name="reviewText" id="review_input" cols="30" rows="10"></textarea>
       <div class="star-rating">
           <div class="star-heading">
              <h1>Your rating ... </h1>
           </div>
           <div class="stars"> 
                <span (click)="addRating(1)" class="fa fa-star rated"></span>
                <span (click)="addRating(2)" class="fa fa-star rated"></span>
                <span (click)="addRating(3)" class="fa fa-star rated"></span>
                <span (click)="addRating(4)" class="fa fa-star rated"></span>
                <span (click)="addRating(5)" class="fa fa-star rated"></span>
           </div>
       </div>
       <div (click)="pushReview()" class="submit_review"><a>Submit</a></div>
       
       <div *ngIf="reviewClicked" class="back-button"><a routerLink="/">BACK</a></div>
    </div>

</div>

<div class="footer">
    <div class="footer-left">
        <p class="contactus"> <i class="fa fa-truck" aria-hidden="true"></i> Free shipping worldwide</p>

    </div>
    <div class="footer-middle">

    </div>
    <div class="footer-right">
        <p> <i class="fa fa-copyright" aria-hidden="true"></i> Webstore@Inzpire.ba All rights reserved.</p>
    </div>
</div>