<app-header></app-header>

<div class="filters-container">
    <div class="filters">
        <p data-filter="jackets" (click)="sort('jackets')" class="filter-p">Jackets</p>
        <p data-filter="skirts" (click)="sort('skirts')" class="filter-p">Skirts</p>
        <p data-filter="tops" (click)="sort('tops')" class="filter-p">Tops</p>
        <p data-filter="bottoms" (click)="sort('bottoms')" class="filter-p">Bottoms</p>
        <p data-filter="shirts" (click)="sort('shirts')" class="filter-p">shirts</p>
        <p data-filter="all" (click)="sort('all')" class="filter-p">All</p>
        <p data-filter="sale" (click)="sort('sale')" class="filter-p">Sale</p>
    </div>
</div>


<!-- 
<div class="products-section-container">
    <div class="product-container" *ngFor="let product of products">
        <div class="product-image">
            <img src="{{product.imgUrl}}" alt="">
        </div>
        <div class="product-info">
            <p>{{product.name}}</p>
            <p class="product-price">${{product.price}}</p>
        </div>
    </div>
</div>

-->

<div class="search-container">
    <input autocomplete="off" class="form-control" type="text" placeholder="Search by product name" 
    name="name" [(ngModel)]="name" (ngModelChange)="Search()">    
</div>

<div class="products-section-container">
    <div class="product-container" 
    *ngFor="let product of produkti | paginate: {itemsPerPage:6,currentPage:p};">
    <div *ngIf="(product.quantity==0)" class="soldout-container">
        <img class="soldout-sticker" src="https://gyazo.com/55f27a92b05156097ecea0628f4e9517.png" alt="">
    </div>
    <div *ngIf="(checkDate(product.dateAdded))" class="new-sticker-container">
        <img class="new-sticker" src="https://gyazo.com/06c6fe4c939ec2c5ee497c51df82f509.png" alt="">
    </div>
        <div class="product-image">
           <a (click)="openProduct(product)"><img src="{{product.imgUrl}}" alt=""></a> 
        </div>
        <div class="product-info">
            <p (click)="checkDate(product.dateAdded)">{{product.name}}</p>
            <p class="product-price">${{product.price}}</p>
        </div>
    </div>
    <div *ngIf="noResult" class="product-container">
        <p>Nema rezultata!</p>
    </div>
</div>

<div class="pagination-container">
    <pagination-controls (pageChange)=" p = $event"></pagination-controls>
</div>

<div class="footer">
    <div class="footer-left">
        <p class="contactus"> <i class="fa fa-cogs" aria-hidden="true"></i>
            Contact us</p>
    <div class="social">
        <a class="fa fa-facebook" title="" target="_blank" href="#"></a>
        <a class="fa fa-instagram" title="" target="_blank" href="#"></a>
        <a class="fa fa-twitter" title="" target="_blank" href="#"></a>
    </div>
        </div>
    <div class="footer-middle">
        <p> Add product | </p>
        <p> Edit product | </p>
        <p> Delete product</p>
    </div>
    <div class="footer-right">
      <p> <i class="fa fa-copyright" aria-hidden="true"></i>
          Webstore@Inzpire.ba All rights reserved.</p>        
    </div>
</div>