
.navbar-container {
    font-family: "Rubik";
    font-weight: 700;
    background-color: #E8E8E8;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
}
.navbar-left {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart{
    cursor: pointer;
}

.navbar-p:first-child {
    margin: 30px;
}
.cart-content {
    position: absolute;
    top: 80px;
    right: 0;
    width: 400px;
    background-color: white;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.cart-items-container {
    height: 90%;
    overflow-y: scroll;
}
.cart-item{
    padding: 10px;
    margin: 10px;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}
.cart-item img {
    height: 100px;
    width: 100px;
}
.cart-item p {
    margin: 10px;
}
.cart-item button {
    margin: 5px;
    width: 35px;
}
.close {
    padding: 5px 8px;
    margin-top: -90px;
    margin-right: -10px;
    color: black;
}
.close a {
    color: black;
    transition: 0.3s;
}
.close a:hover {
    color: red;
}
.button-checkout { 
    background-color: black;
    width: 100%;
    text-align: center;
    cursor: pointer;
    height: 10%;
    padding: 15px;
}
.button-checkout a {
      color: white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: white; 
  border-radius: 0px;
}

::-webkit-scrollbar-thumb { 
  border-radius: 10px;
  background: gray;
}


#phone {
    margin: 30px;
}
i {
    font-size: 150%;
    margin: 5px;
}



.hero-container {
    width: 100%;
    height: 70vh;
    background-image: url("https://i.gyazo.com/49d7ad5592dd8eaed81ce8fa79b782be.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    font-family: "Rubik";
}
.hero-inside {
    width: auto;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.hero-inside > * {
    margin-left: 70px;
}
.hero-heading-container {
    height: auto;
}
.hero-heading {
    font-size: 450%;
    font-weight: 900;
    text-transform: uppercase;
}
.hero-buttons-container {
    margin: 10px;
}
.hero-buttons {
    color: black;
    background-color: white;
    margin: 20px 5px;
    font-weight: bold;
    padding: 5px 40px;
    box-shadow: -1px 2px 11px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 2px 11px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 11px 2px rgba(0,0,0,0.75);
    cursor: pointer;
}
.hero-description {
    margin: 10px;
}

.filters-container {
    width: 100%;
    background: #E8E8E8;
    height: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.bolded{
    font-weight: bold;
    border-bottom: 2px solid black;
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
}
.filter-p {
    margin: 30px;
    cursor: pointer;
    padding: 10px 20px;
}

.products-section-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.product-container {
    width: 400px;
    height: 300px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-image{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img{
    height: 100%;
    padding: 10px;
    width: 80%;
}

.product-info{
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-price{
    font-weight: bold;
}



.footer {
    width: 100%;
    height: 80px;
    background: #E8E8E8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: "Rubik";
    color: black;
}
.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 5px;
}
.contactus {
    margin: 20px;
}
.footer-left {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.footer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3px;
    cursor: pointer;
}
.footer-middle p {
    margin: 0px 3px;
    font-weight: bold;
}
.footer-right {
    margin: 10px;
}
.footer-right p {
    margin: 5px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.search-container input {
    height: 35px;
    width: 200px;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    transition: 0.3s;
    font-size: 17px;
}
.search-container input:focus {
    border-bottom: 2px solid black;
}
.search-container input::placeholder {
    color: lightgrey;
}
.search-container button {
    width: 40px;
    margin: 10px;
}
.bolded {
    font-weight: bold;
    border-bottom: 2px solid black;
}
#contact_us{
    display: none;
}

/*STICKERS*/

.soldout-container{
    position: absolute;
}

.new-sticker-container{
    position: absolute;
}
.new-sticker{
    width: 70px;
    position: absolute;
    top: -170px;
    right: 90px;
}

.soldout-sticker{
    width: 120px;
    position: absolute;
    top: -170px;
}

#main-page-container{
    display: none;
}

.load {
    border: 1px solid #ecf0f1;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotate(135deg);
    width: 70px;
    height: 70px;
  }
  .load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
  }
  
  .load :first-child {
    background: #19a68c;
    animation-delay: -1.5s;
  }
  .load :nth-child(2) {
    background: #71CCD9;
    animation-delay: -1s;
  }
  .load :nth-child(3) {
    background: #fda543;
    animation-delay: -0.5s;
  }
  .load :last-child {
    background: #193b48;
  }
  
  @keyframes spin {
    0%,
    100% {
      transform: translateX(200%);
    }
    25% {
      transform: translateY(200%);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateY(0);
    }
  }



/* Responsive - mobile friendly */

  @media only screen and (max-width: 1000px) {
    .navbar-right {
        display: none;
    }
    .navbar-left{
        width: 100%;
        justify-content: space-between;
    }
    .filters-container{
        display: none;
    }
    #phone {
        display: none;
    }
    #info {
        margin: 10px;
    }
    .footer {
        justify-content: center;
    }

    .footer-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .footer-right p {
        margin: 0;
    }


    .hero-container {
        height: 50vh;
        align-items: center;
    }
    .hero-inside {
        margin-top: 30px;
        width: 100%;
        height: 45vh;
        align-items: center;
    }
    .hero-inside > * {
        margin-left: 0;
        font-size: 90%;
    }
    .hero-heading {
        font-size: 400%;
        line-height: 50px;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer-right p {
        margin: 0;
    }
    .hero-inside > * {
        font-size: 80%;
    }
    .hero-heading {
        font-size: 300%;
        line-height: 40px;
    }
  }

  