<div id="main-page-container">


    
<app-header></app-header>

<div class="filters-container">
    <div class="filters">
        <p data-filter="jackets" (click)="sort('jackets')" class="filter-p">Jackets</p>
        <p data-filter="skirts" (click)="sort('skirts')" class="filter-p">Skirts</p>
        <p data-filter="tops" (click)="sort('tops')" class="filter-p">Tops</p>
        <p data-filter="bottoms" (click)="sort('bottoms')" class="filter-p">Bottoms</p>
        <p data-filter="shirts" (click)="sort('shirts')" class="filter-p">shirts</p>
        <p data-filter="all" (click)="sort('all')" class="filter-p">All</p>
        <p data-filter="sale" (click)="sort('sale')" class="filter-p">Sale</p>
    </div>
</div>

<div class="search-container">
    <input autocomplete="off" class="form-control" type="text" placeholder="Search by product name" 
    name="name" [(ngModel)]="name" (ngModelChange)="Search()">    
</div>

<div class="products-section-container">
    <div *ngIf="noResult" class="product-container">
        <p>Nema rezultata!</p>
    </div>
    <div (click)="openProduct(product)" *ngFor="let product of produkti | paginate: {itemsPerPage:4,currentPage:p};" class="product-card"><img class="product-img" src="{{product.slikaUrl}}" alt="product" width="100%"/>
        <div *ngIf="(product.kvantitetProizvoda==0)" class="soldout-container">
            <img class="soldout-sticker" src="https://gyazo.com/55f27a92b05156097ecea0628f4e9517.png" alt="">
        </div> 
        <div class="product-info">
          <h3 class="product-title">{{product.imeProizvoda}}</h3>
          <div class="product-price"><span class="product-price-new">${{product.cijenaProizvoda}}</span><span class="product-price-old">$ 456</span></div>
          <div class="product-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam deleniti corrupti quam delectus placeat nihil, nobis dolore maxime ipsum sequi numquam, architecto accusantium quia excepturi, rerum labore harum iure.</div>
          <div class="product-btn">
            <button (click)="openProduct(product)"><i class="fa fa-cart-plus icon"></i>add to cart</button>
          </div>
        </div>
      </div>

<div class="pagination-container">
    <pagination-controls (pageChange)=" p = $event"></pagination-controls>
</div>

</div>
<app-footer></app-footer>

</div>
<div id="loader" class="load">
    <hr/><hr/><hr/><hr/>
  </div>