<app-header></app-header>


<div class="product-container">
    <div class="contact-title-bar">
        <div class="contact-title">CONTACT</div>
        <div class="contact-subtitle">We’d love to receive your feedback or help you if you have problems with our page!<br>Please fill out the following fields.</div>
    </div>
    <div class="contact-container">


        <div class="contact-description">
            <form  class="contact-form" (submit)="sendEmail($event)">
                <input type="text" name="from_email" placeholder="Your email..." />
                <input type="text" name="from_name" placeholder="Your name..." />
                <input name="message" type="textarea" placeholder="Your message..."/>
                <button type="submit" value="Send">Send</button>
            </form>
            <div class="social">
                <a class="fa fa-facebook" title="" target="_blank" href="#"></a>
                <a class="fa fa-instagram" title="" target="_blank" href="#"></a>
                <a class="fa fa-twitter" title="" target="_blank" href="#"></a>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-left">
        <p class="contactus"> <i class="fa fa-truck" aria-hidden="true"></i> Free shipping worldwide</p>

    </div>
    <div class="footer-middle">

    </div>
    <div class="footer-right">
        <p> <i class="fa fa-copyright" aria-hidden="true"></i> Webstore@Inzpire.ba All rights reserved.</p>
    </div>
</div>