<div class="top-header">
    <div class="top-header-left">
        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQH_tOsDbM0bPg/company-logo_200_200/0/1581929641926?e=1628121600&v=beta&t=85GhuJfEIgfK988TgKPk0rXWX5sPz0x_jDjc1tOIRzQ"> INZPIRE WEB SHOP
    </div>
    <div class="top-header-right">LAST EDITED MAY 12TH, 2021</div>
</div>
<div class="container">
    <div class="admin-image"><img src="https://i.imgur.com/XyywY9v.png"></div>
    <div class="admin-desc">Jon Snow</div>
    <div class="admin-id">UserID: 12345678</div>
    <div class="buttons">
        <a routerLink="/users"><button class="admin-buttons" >User Accounts</button></a>
        <a routerLink="/products"><button class="admin-buttons"style="background:#888;">Products</button></a>
        <button class="admin-buttons">E-Commerce</button>
        <a routerLink="/email"><button class="admin-buttons">Website Inbox</button></a>
        <button class="admin-buttons">Setup</button>
        <button class="admin-buttons">Storage</button>
    </div>
</div>

<div class="users">
    <div class="title">Products&nbsp; <img src="https://icons-for-free.com/iconfiles/png/512/add+circle+outline+24px-131985189585233685.png"></div>
    <div class="search">Search... <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png"></div>

    <div class="users-container">
        <div class="users-title-container">
            <div class="users-title">
                <p>Photo</p>
                <p>ProductID</p>
                <p style="margin-left:1px;margin-right:-50px;">Name</p>&nbsp;
                <p>Price</p>
                <p>Qty</p>
                <p>Options</p>
            </div>
        </div>

        <div class="users-info-container">
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
            <div class="users-info">
                <p style="margin-left:5px;"><img src="https://i.gyazo.com/fa3ca554f6f55f36f6433035985df1ae.png"></p>
                <p style="margin-left:-7px;">12345</p>
                <p style="margin-left:17px;">Product1234</p>
                <p style="margin-left:-19px;">$49.99</p>
                <p style="margin-left:-9px;">55</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>

        </div>
    </div>
</div>