<div class="top-header">
    <div class="top-header-left">
        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQH_tOsDbM0bPg/company-logo_200_200/0/1581929641926?e=1628121600&v=beta&t=85GhuJfEIgfK988TgKPk0rXWX5sPz0x_jDjc1tOIRzQ"> INZPIRE WEB SHOP
    </div>
    <div class="top-header-right">LAST EDITED MAY 12TH, 2021</div>
</div>
<div class="container">
    <div class="admin-image"><img src="https://i.imgur.com/XyywY9v.png"></div>
    <div class="admin-desc">Jon Snow</div>
    <div class="admin-id">UserID: 12345678</div>
    <div class="buttons">
        <a routerLink="/users"><button class="admin-buttons" style="background:#888;">User Accounts</button></a>
        <a routerLink="/products"><button class="admin-buttons">Products</button></a>
        <button class="admin-buttons">E-Commerce</button>
        <a routerLink="/email"><button class="admin-buttons">Website Inbox</button></a>
        <button class="admin-buttons">Setup</button>
        <button class="admin-buttons">Storage</button>
    </div>
</div>

<div class="users">
    <div class="title">Users</div>
    <div class="search">Search... <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png"></div>

    <div class="users-container">
        <div class="users-title-container">
            <div class="users-title">
                <p>Photo</p>
                <p>UserID</p>
                <p>Username</p>&nbsp;
                <p style="margin-left:-29px;margin-right:22px;">Email</p>
                <p>Role</p>
                <p>Status</p>
                <p>Options</p>
            </div>
        </div>

        <div class="users-info-container">
            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>

            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>


            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>


            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>


            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>


            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>


            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>


            <div class="users-info">
                <p style="margin-left:-7px;"><img src="https://i.pinimg.com/originals/e9/80/f7/e980f7be96698681e64bac92221cfb7d.png"></p>
                <p style="margin-left:2px;">12345</p>
                <p style="margin-left:2px;">User1234</p>
                <p style="margin-left:1px;">user@gmail.com</p>
                <p style="margin-left:-9px;">user</p>
                <p>active</p>
                <div class="options">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"> <img src="https://cdn1.iconfinder.com/data/icons/ios-and-android-glyphs-set-2/52/delete__remove__trash__dustbin-512.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<jw-modal id="edit-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('edit-modal-1');">Close</button>
</jw-modal>

<jw-modal id="delete-modal-2">
    <h1 style="height:1000px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('delete-modal-2');">Close</button>
</jw-modal> -->