/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    user-select: none; 
}

body {
    font-family: "Rubik", sans-serif;  
} 
:after,:before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:0;
    clear:both;
} 
a {
      text-decoration: none;
}
div.sm-jumbotron{
    margin:0px;
    padding:2rem;
    background-color:#eee;
    color:#000;
}
button.btn-submit{
    background-color:pink;
    color:#000;
    width:100%;
}

button.btn-submit:focus,button.btn-submit:hover{
    background-color:blue;
}

div.validation-error{
    color:red;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
